.innernav .navigationarea {
    width: 100%;
    margin-top: 50px;
}
.innernavi{ display:block; min-height:0; text-align:center;}
.innernavi .logo{ display:none;}
.navbar-right{ float:none !important;}
.innernavi .nav>li>a:hover:after,.innernavi .nav>li.activepage a:after{ width:100%;}

.innerbanner{ height:213px; background:url(../img/innerbanner.jpg) center top no-repeat; background-size:cover; position:relative;}
#bannermain.bannermaininner{ padding-top:25px; padding-bottom:30px;}
.cntmain.inner{ padding:40px 0;}


.innertitle{ position: absolute; left:40px; bottom:40px;}
.innertitle h3 {
    font-family: 'Taviraj', serif;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 0;
    position: relative;
}

.innertitle h3:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 3px;
    background: #f98530;
    right: -80px;
    top: 17px;
}
.whitearea{ padding:70px 60px; background:#FFF;}
.contactpage p{ font-size:16px; line-height:1.8em;}
.cntctr{ padding:9px 7% 0 7%;}
.contactpage .phone{ font-size:27px; font-weight:700; color:#3f3f3f; background:url(../img/contactphone.jpg) left 0 no-repeat; padding-left:50px; margin-bottom:0px;}
.contactpage .mail{font-size:25px;background:url(../img/contactmail.jpg) left 0 no-repeat; padding-left:50px;}
.contactpage .mail a{color:#3f3f3f;}
.contactpage .mail a:hover{ text-decoration:underline !important;}

.contactsocial{ padding-top:36px; padding-left:8%;}
.contactsocial .social a{
	width: 41px;
	height: 41px;
	display: inline-block;
	float: left;
	margin: 0 5px;
}
.contactsocial .social .fb, .contactsocial .social .gplus, .contactsocial .social .twt
{
	display: block;
	background:url(../img/contactsocial.png) center top no-repeat;
	height: 100%;
	width: 100%;
}

	.contactsocial .social .fb {
	background-position: left top;
}
.contactsocial .social .gplus {
	background-position: center top;
}
.contactsocial .social .twt {
	background-position: right top;
}
 .contactsocial .social .fb:hover{ background-position:bottom left;}
 .contactsocial .social .gplus:hover{background-position:bottom center;}
  .contactsocial .social .twt:hover {
background-position:bottom right;
	}
.contactsocial .social a{ margin-left:0; margin:0 5px 0 5px;}

#map {
	width: 100%;
	height:350px;
	background:#FFF;
}
/* Flexible iFrame */

.Flexible-container {
	position: relative;
	padding-bottom: 0;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	height: 350px;
}
.Flexible-container iframe, .Flexible-container object, .Flexible-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 350px;
}


.contactforms .form {
	width: 100%;
   padding-top:50px;
}

.contactforms .form-control, .contactforms .form-control2,.careerforms .form-control, .careerforms .form-control2 {
	border-radius: 0px;
	background: #FFF;
	margin-top: 4px;
	border:none;
	border-bottom: 1px solid #e4e4e4;
	padding: 13px;
	font-weight: 400;
	font-size: 13px;
	color: #afafaf;
	border-radius:0;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
outline:none !important;
}
.contactforms .form-control,.careerforms .form-control {
	width: 100%;
	height: 55px;
	margin-bottom: 18px;
}
.contactforms .form-control2,.careerforms .form-control2 {
	width: 100%;
	height: 90px;
	resize:none;
}
.contactforms .submit,.careerforms .submit {
	display:block;
	
}
.contactforms .submit .btn,.careerforms .submit .btn {
	border-radius: 0;
	font-weight: 700;
padding:20px 20px 15px 0;
	font-size: 15px;
	color: #000000;
	text-transform:uppercase;
		-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	outline: none;
	margin-top:10px;
	background:none;
	display:inline-block;
	border-bottom:1px solid #22258e;
}
.contactforms .submit:hover .btn,.careerforms .submit:hover .btn { padding-right:35px}

.contactforms .form-group,.careerforms .form-group {
	margin-bottom: 5px;
}	
.abouttop{ padding:40px 0 15px 0;}
.abouttop p{ margin-bottom:25px;}
.aboutimg{ margin-top:40px;}
.aboutbottom h4{ font-family: 'Taviraj', serif; font-weight:400; font-size:24px; color:#000000; margin-top:0;}
.vision,.mission{ padding:70px 60px; background:#faf5f2;}
.mission{ border-top:1px solid #f3ece7;}
.visionleft,.missionright{ min-width:103px; float:left; display:inline-block;}
.visionright,.missionleft{ float:left; display:inline-block; width:85%; padding-left:30px;}
.missionleft{ padding-left:0; padding-right:30px; text-align:right; float:right;}
.missionright{ float:right;}
.productmain{ padding:20px;}
.productmain ul{ padding:0; margin:0 -15px;}
.productmain li{ list-style:none; display:inline-block; float:left; width:25%; padding:10px;}
.productmain li .productbox{ width:100%;  background:#FFF; position:relative; left:0; top:0; padding:10px;
display:block;}
.productmain li:hover .productbox{ top:-3px; transition-duration:0.5s;}
.productmain li .productbox>span{ border:1px solid #eaeaea; display:block; width:100%; min-height:290px; padding:15px;}
.productmain li .productbox .title{font-family: 'Taviraj', serif; font-weight:400; font-size:20px; color:#000000; text-align:center; text-transform:uppercase; /*padding-top:20px;*/ border-top: 1px dashed #CCCCCC; margin-top:15px;
height:90px; position:relative;
transition-duration:0.5s;
}

.productmain li .productbox:hover  .title{ color:#ef6715;}

.productmain li .productbox .title span{
	position:absolute;
	top: 50%;
	width:100%;
	left:0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	}
	
.productdtlsleft{
    background: #FFF;
    padding: 10px;
    display: block;	
	text-align:center;
}
.productdtlsleft span{
   border: 1px solid #eaeaea;
    display: block;
    width: 100%;
    padding: 15px;
	}	
.productdtlsleft span img{ display:inline-block;}	
.productdtlsright{ margin-left:20px; width:100%; background:#FFF; padding:40px 50px;}	
.productdtlsright h4,.careerbottom h4,.careerforms h4{
	font-family: 'Taviraj', serif;
font-size: 24px;
    margin-bottom: 25px;
    padding-bottom: 12px;
    background: url(../img/dotline.png) left bottom no-repeat;	
	
	}	
	
.news .title{ color:#000; font-size:20px; background:url(../img/news.jpg) left top no-repeat;  padding: 3px 0 3px 35px;
margin-bottom:20px;}
.news p span{ font-weight:700; font-size:15px;}
.newssetion{ padding-bottom:30px; border-bottom:1px dashed #CCCCCC; margin-bottom:35px;}
.newssetion:last-child{ padding-bottom:0; border-bottom:none;}
.careertop{ padding:20px 5%;}
.careertopright{ padding-top:30px;}
.careerbottom{ padding-top:50px;}
.careerbottom ul{ padding:0; margin:0;}
.careerbottom li {
    list-style: none;
    font-size: 14px;
    color: #3c3c3c;
    line-height: 1.643em;
    background: url(../img/careerarrow.jpg) left 7px no-repeat;
    padding-left: 28px;
    margin-bottom: 20px;
}
.careerbottom li span{ font-weight:700; font-size:16px;}	
.careerbottom a{ font-weight:700; color:#2a2d94;}

.callus {
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 50px;
    border: 2px solid #ef6715;
    display: inline-block;
    margin-top: 30px;
    color: #ef6715;
    transition: 0.5s;
}

.callus:hover{ background:#ef6715; color:#FFF;}
.careerforms{ padding-top:40px;}
.careerforms .inputfl{ margin-top:35px;}


@media screen and (min-width: 768px){
.innernavi .nav>li>a:hover, .innernavi .nav>li>a:focus{ background:none;}
.innernavi .nav>li>a:after{
content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: url(../img/linklinehover.png) left top repeat-x;
    transition-duration: 0.5s;	
	
	}	
.innernavi .navbar-nav>li>a {
    color: #FFF;
    text-transform: uppercase;
	font-weight:700;
    padding: 5px 0 5px 0;
    position: relative;
	margin:0 20px;
}	
.innernavi .navbar-nav>li{ float:none; display:inline-block;}


}


@media screen and (max-width: 1200px){
.innernavi .navbar-nav>li>a{ margin:0 12px;}
.cntctr{ padding-left:0; padding-right:0;}


	}
@media screen and (max-width: 992px){
.cnttop{ text-align:center;}
.contactpage .phone{ margin-bottom:15px;}
.contactpage .phone,.contactpage .mail{ display:inline-block;}
.contactsocial{ padding:0; display:inline-block; margin-top:20px;}
.visionright, .missionleft{ width:80%;}
.productmain li{ width:33.33%;}
.productdtlsright{ margin-left:0;}
.careertopright {
    padding-top: 0px;
}
	}
@media screen and (max-width: 768px){
.innernavi .logo{ display:block; margin-top:0;}	
.innernavi  .navbar-toggle{ margin-bottom:0; margin-top:15px;}
.innernavi{ padding:7px 0;}
#bannermain.bannermaininner {
    padding-top: 18px;
    padding-bottom: 20px;
}
.innerbanner{ height:150px; background-position:left top;}
.innernavi .navbar-collapse{ margin-top:8px !important;}
.abouttop{ padding:0; text-align:center;}
.aboutimg {
    margin-top: 0px;
	display:inline-block;
	margin-bottom:25px;
}
.aboutbottom{text-align:center;}
.visionright, .missionleft {
    width: 100%;
	float:none; 
	padding:0;
	text-align:center;
}
.visionleft, .missionright{ float:none; padding-bottom:15px; }
.vision, .mission {
    padding: 50px 40px;
}
.productmain li{ width:50%;}
.productmain li .productbox>span{min-height: 260px;}
.productdtlsleft span{ display:inline-block; width:auto; margin-top:25px;}
.productmain-dtls{ text-align:center;}
.productdtlsright{ padding:20px;}
.productdtlsright h4{ background-position: center bottom;}

.careertop {
    padding:0;
	text-align:center;
}
.careerimg{ display:inline-block; margin-bottom:20px;}

	}
	
@media screen and (max-width: 620px){	

}
	
	
@media screen and (max-width: 480px){
.innernavi .navbar-toggle {
    margin-top: 10px;
}
.whitearea {
    padding: 40px 20px;
    background: #FFF;
}
.contactpage p{ font-size:14px;}
.contactpage .phone, .contactpage .mail {
    display: inline-block;
    background-size: 28px;
  
    padding-left: 39px;
    font-size: 20px;
}
.innertitle h3{ font-size:25px;}
.innertitle h3:before {
    width: 49px;
    right: -65px;
}
.vision, .mission {
    padding: 35px 25px;
}
.productmain { margin:0 -5px; padding:0 15px;}
.productmain li{ padding:5px;}
.productmain li .productbox .title{ height:auto; padding:15px 0 10px 0; font-size:17px;}
.productmain li .productbox .title span{ position:relative; top:0;}
.productmain li{ width:100%; text-align:center;}
.productmain li .productbox>span{ min-height:0;}
.productmain li .productbox>span img{ display:inline-block;}
.productdtlsright h4,.careerbottom h4,.careerforms h4{ font-size:20px; margin-bottom:18px;}
.innertitle h3 span{ display:block;}
.careerbottom li span{ font-size:14px;}
.careerbottom {
    padding-top: 30px;
}
.callus {
    padding: 7px 30px;
	margin-top:18px;
}
.contactforms .form-control, .careerforms .form-control{ margin-bottom:5px;}
}

@media screen and (max-width: 380px){

}




