/*font-family: 'Taviraj', serif;
font-family: 'Roboto', sans-serif;
*/
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #474747;
	background:#f6f6f6;
}
body  p{
      display: inline-block;
}
body  p{
	
font-weight: 400;
	font-size: 14px;
	color:#3c3c3c;
	line-height:1.643em;	
	
	}

a {
	text-decoration: none !important;
	outline: none !important;
}


#headermain {
	padding: 15px 0;
}
.headerleft {
	width: 20%;
	float: left;
	display: inline-block;
}
.headerright {
	width: 70%;
	float: right;
	display: inline-block;
	text-align: right;
	padding-right:100px;
	position:relative;
	padding-top:2px;
}
.lng{ position:absolute;
right:0;
top:20px;
display:inline-block;
color:#100f77;
text-transform:uppercase;}
.lng a{ padding:3px 6px;
color:#100f77;
}



.logo {
	width: 228px;
	height: 48px;
	background: url(../img/logo.png) left top no-repeat;
	background-size: contain;
	display: inline-block;
}
.headercontact {
	display: inline-block;
	text-align: left;
	font-size: 16px;
	font-weight: 700;
	color: #000;
}
.headercontact a {
	color: #000;
}
.headercontact .phone, .headercontact .email {
	position: relative;
	padding-left: 32px;
	display: inline-block;
	margin-right: 20px;
}
.headercontact .phone:before, .headercontact .email:before {
	content: "";
	background: url(../img/headersocialicon.png) no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
}
.headercontact .phone:before {
	background-position: 8px top;
}
.headercontact .email:before {
	background-position: right top;
}
.headersocial {
	display: inline-block;
	/* width: 242px; */
	text-align: left;
	position: relative;
	top: 9px;
	border-left: 1px solid #1a1d7d;
	padding-left: 15px;
}
.headersocial .social a,.footersocial .social a {
	width: 33px;
	height: 33px;
	display: inline-block;
	float: left;
	margin: 0 5px;
}
.headersocial .social .fb, .headersocial .social .gplus, .headersocial .social .twt,
.footersocial .social .fb, .footersocial .social .gplus, .footersocial .social .twt 

{
	display: block;
	background: url(../img/headersocial.png) center top no-repeat;
	height: 100%;
	width: 100%;
}
.headersocial .social .fb {
	background-position: left top;
}
.headersocial .social .gplus {
	background-position: center top;
}
.headersocial .social .twt {
	background-position: right top;
}


#bannermain{ background:url(../img/bannerbg.jpg) center top no-repeat; background-size:cover;
padding:50px 0 60px 0;}


.menuicon{ width:23px; height:16px; background:url(../img/menuicon.png) left top no-repeat; background-size:contain; display:inline-block; margin-bottom:20px;}
.navigationarea>ul{ padding:0; margin:0;}
.navigationarea>ul>li{ list-style:none; color:#ffffff;
font-size:15px;
font-weight:500;
width:80%;
}

.navigationarea>ul>li a{ color:#FFF; text-transform:uppercase; background:url(../img/linkline.png) left bottom repeat-x;
display:block;
padding:16px 0 13px 0;
position:relative;}

 .navigationarea>ul>li a:after {
content:"";
position:absolute;
left:0;
bottom:0;	
width:0;
height:1px;
background:url(../img/linklinehover.png) left top repeat-x; 
transition-duration:0.5s;	 
	 }

 .navigationarea>ul>li a:hover:after, .navigationarea>ul>li.activepage a:after{width:100%;}
 
 
/*-------banner------*/

#banner {
	width: 100%;
	height: 450px;
	background: #FFF;
	position: relative;
}
.bannermain {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.bannermain .container {
	position: relative;
	height: 100%;
}
#text {
	width: 40%;
	position:absolute;
	left:30px;
	bottom:30px;
	
}
.bannertext h3 {
    font-family: 'Taviraj', serif;
    font-weight: 400;
    font-size: 19px;
    color: #FFF;
    display: inline-block;
    background: #0a4d90;
    padding: 16px 20px;
	margin-bottom:5px;
}
.bannertext p{ font-size:15px; background:#FFF; display:inline-block; color:#040404; padding:18px 20px; line-height:1.5em;
background-color:rgba(255, 255, 255, 0.91);}


#indicators_wrapper {
    position: absolute;
    bottom: -40px;
    right: 22px;
}

    #indicators {
        height:20px;
        position:relative;
        left:50%;
    }
.vg_indicator{ background:#0CF;}

/*-------banner close------*/

.cataloguebtn{ border:2px solid #FFF; padding:12px 30px 11px 55px; font-size:16px; font-weight:700; color:#ffffff; text-transform:uppercase; display:inline-block;
margin-top:50px; position:relative;}
.cataloguebtn span{ position:absolute; width:16px; height:16px; background:url(../img/dwdicon.png) center center no-repeat;
left:20px; top:14px;}
.cataloguebtn:hover{ color:#FFF;}
.cntmain{ padding:60px 0;}
.welcomearea{ padding:70px 50px; background:#FFF; margin-bottom:60px;}
.welcomearea h1{ margin-top:0; font-weight:300; font-size:42px; color:#6e6e6e; margin-bottom:25px;}
.welcomearea h1 span{ font-weight:700; color:#2a2d94; font-size:37px; text-transform:uppercase;}
.welcomearea .more{ font-size:14px; color:#FFF; min-width:135px; text-align:center; background:#039; border-radius:50px;
padding:10px 0 9px 0; display:inline-block; margin-top:15px;}

.newarrivals-area{} 
.newarrivals-area h3,.homebottom h4 {
    font-family: 'Taviraj', serif;
    font-size: 29px;
    color: #000000;
    font-weight: 500;
    margin-top: 0;
    position: relative;
    max-width: 190px;
	margin-bottom:20px;
}
.newarrivals-area h3:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 3px;
    background: #fe7510;
    right: -60px;
    top: 17px;
}
.newarrivals ul{ padding:0; margin:0;display: inline-block;}
.newarrivals li{ list-style:none; display:inline-block; float:left; width:25%;}
.newarrivals li .imgbox{ overflow:hidden;}
.newarrivals li .imgbox img{
    transition-duration: 0.7s;
}
.newarrivals li .imgbox:hover img {
    transform: scale(1.1555);
	width:100%;
	height:100%;
}

.newarrivals li .morebtn{ width:100%; min-height:214px; display:block; background:url(../img/newarrivals/morebg.jpg) center center no-repeat; background-size:cover;
position:relative;
padding-left:25%;
}

.newarrivals li .morebtn span{ display:inline-block; font-size:15px; text-transform:uppercase; color:#FFF; line-height:1.5em;
position:absolute;
top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.newarrivals li .morebtn span:after {
    content: '';
    display: inline-block;
    position: relative;
    width: 40px;
    height: 3px;
    bottom: -16px;
    left: -78px;
    background: #fe7510;
	transition-duration:0.5s;
}
.newarrivals li .morebtn:hover span:after{ width:70px;}
.homebottom{

    background: #FFF;
    margin-top: 60px;	
	}
	
	
.newshome,.testimonialshome	{padding: 66px 50px 70px 50px; min-height:410px;}
.homebottom h4{
    font-size: 24px;
    margin-bottom: 35px;	
	padding-bottom:12px;
	background:url(../img/dotline.png) left bottom no-repeat;
	}
.testimonialshome{ border-left:1px solid #dadada;}	
.newsslide #nav-controls {
    position: absolute;
    bottom: 60px;
    left: 58px;
    z-index: 99;
}
.newsslide #nav-controls div {
	width: 23px;
	height: 23px;
	font-size: 0px;
	display: inline-block;
	cursor: pointer;
	margin: 0 7px;
	
	
}
.newsslide #nav-controls .owl-prev,.newsslide #nav-controls .owl-next {background: url(../img/arrow1.png) no-repeat; 
 transition-duration:0.5s;
 opacity:0.9;
}

.newsslide #nav-controls .owl-prev{ background-position:left top;}
.newsslide #nav-controls .owl-next {background-position:right top;
}
.newsslide #nav-controls .owl-prev:hover,.newsslide #nav-controls .owl-next:hover{ opacity:1;}	
.newsdate{ font-size:18px; color:#000000; position:relative; padding: 12px 0 12px 60px; margin-bottom:15px; }
.newsdate span{ position:absolute; left:0; top:-1px;  width:50px; height:50px; padding:15px; text-align:center;
display:inline-block; background:#2a6194; color:#FFF;
font-family: 'Taviraj', serif;
font-size:20px;
z-index:22;
}	
.newsslide .owl-carousel .owl-item{ padding-bottom:25px;}

.testimonialshome .testitext{ background:url(../img/coma.jpg) left top no-repeat; padding:10px 10px 10px 50px;}
.testimonialshome .testitext p{ color:#2b2a2a;}
.testiname{ color:#000; margin-top:28px;}
.testiname span{ font-weight:700; color:#2a2d94; padding-left:32px; background:url(../img/testiline.png) left 10px no-repeat;
font-size:18px;}


.testimonialshome .owl-dots{ padding-top:30px; padding-left:50px;}
.testimonialshome .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 3px 2px;
    background: #d5d4d3;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.testimonialshome .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.testimonialshome .owl-dots .owl-dot.active span,  .testimonialshome .owl-dots .owl-dot:hover span {
    background: #5f5c5c;
}
	



.footermain h5{ font-weight:700; text-transform:uppercase; color:#FFF; font-size:16px; margin-bottom:16px; margin-top:0px;}
.footermain{ background:#231c57; padding:40px 0;}
.footermain  p,.footermain  a{ color:#d8d7d7;}
.footerlogo{ width:155px; height:40px; background-size:contain !important;
background:url(../img/footerlogo.png) left top no-repeat; display:inline-block; margin-bottom:25px;}
.footersocial .social .fb, .footersocial .social .gplus, .footersocial .social .twt {
background:url(../img/footersocial.png) left  no-repeat;	
opacity:0.8; transition-duration:0.5s;
	}

.footersocial .social:hover .fb, .footersocial:hover .social .gplus, .footersocial:hover .social .twt {
opacity:1;
	}
	
	.footersocial .social .fb {
	background-position: left top;
}
.footersocial .social .gplus {
	background-position: center top;
}
.footersocial .social .twt {
	background-position: right top;
}
.footersocial .social a{ margin-left:0; margin-right:10px;}
.footermain  a{ transition-duration:0.s;}
.footermain  a:hover{ color:#FFF;}
.footerlink ul{ padding:0; margin:0;}
.footerlink li{ list-style:none; display:inline-block; float:left; width:33.33%; margin-bottom:6px;}
.footerlink li a{}


.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}  

.owl-animated-out {
  z-index : 1 
   }
.owl-animated-in {
  z-index : 0 
   }
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}  
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}

.saharalogo{ width:235px; height:48px; background:url(../img/saharalogo.png) center top no-repeat; background-size:contain;
margin-top:20px; display:inline-block;}
.copyright{ background:#191342; padding:15px 0; text-align:center; color:#c6c6c6; font-size:14px;}






@media screen and (max-width: 1200px) {
.newarrivals li .morebtn {
    min-height: 187px;
}
}

@media screen and (max-width: 992px) {
	
	
.headerleft,.headerright{ width:100%; text-align:center;}	
.newarrivals li{ width:33.33%;}	
.newarrivals li .morebtn {
    min-height: 130px;
}
}

@media screen and (max-width: 768px) {
	
	
.headerleft{ display:none;}	
.headerright{ text-align:left;}
.navimain,.innernavi{ background:#FFF;}
.navbar-toggle {
	border: none;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	margin-top: 22px;
	padding: 0;
}
.navbar-toggle .icon-bar {
	background: #2a2d94;
	height: 3px;
	transition-duration: 0.5s;
}
.navbar-toggle:hover .icon-bar {
	background: #07acce;
}
.navbar-nav>li {
	margin-left: 0;
}
.navbar-nav > li > a,.innernavi .navbar-nav > li > a {
	padding: 12px 15px;
	margin: 0px;
	text-align: left;
	color: #000000;
	text-transform: uppercase;
	border: none;
	transition-duration:0.5s;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .innernavi .navbar-nav > li > a:hover {
	background: #e2e2e2;
	color: #000;
	border: none;
}
.navbar-nav>li.activepage a, .innernavi .navbar-nav>li.activepage a {
	border: none;
	background-color: #e2e2e2;
	color: #000;
}

ul.navbar-nav {
	margin: 0px;
}
.navbar-collapse {
	position: absolute;
	z-index: 999;
	background: #FFFFFF;
	background-color:rgba(255, 255, 255, 0.92);
	/*background-color:rgba(178, 30, 59, 0.91);*/
	width: 100%;
	padding: 0;
	margin-top:0px;
}
.headercontact{ display:none;}
.headersocial{ border:none; padding-left:0;}
.headerright{ padding:0;}
#headermain{ padding-top:3px;}

#bannermain{ padding-top:18px;}
.logo {
    width: 200px;
    height: 40px;
    margin-top: 12px;
    margin-left: 15px;
}


.welcomelogo{ display:inline-block; margin-bottom:20px;}	
.welcomearea{ text-align:center;    padding: 50px 40px;}
.newshome, .testimonialshome {
    padding: 46px 30px 50px 30px;
    min-height: 0;
	border:none;
}
.newsslide #nav-controls {
    bottom: 35px;
    left: 40px;
}


.footermain{ text-align:center;  padding: 25px 0;}	
.footersocial{ display:block; margin-top:15px; margin-bottom:25px;}	
.footersocial .social{ display:inline-block;}
.footerlink{ padding-top:20px;}
.footerlogo {
    width: 143px;
    height: 30px;
	margin-bottom:15px;
}
.saharalogo {
    width: 200px;
    height: 40px;
}

}

@media screen and (max-width: 620px) {
	
#banner{ height:280px;}	
#text{ width:90%; left:15px; bottom:15px;}
.bannertext h3{ font-size:16px; padding:15px;}
.bannertext p{ font-size:14px; padding:10px;}
	
.newarrivals li {
    width:50%;
}	
.newarrivals li img{ width:100%;}
.homebottom {
    margin-top: 40px;
}
.welcomearea {
    margin-bottom: 40px;
}
.welcomelogo{ width:170px;}	
.welcomearea h1,.welcomearea h1 span{ font-size:30px;}
}

@media screen and (max-width: 480px) {
.cntmain {
    padding: 30px 0;
}	
.welcomearea h1{ margin-bottom:15px;}	
.welcomelogo{ width:150px;}	
	
	.newarrivals li {
    width:100%;
}	
.welcomearea {
    padding: 30px 25px;
}
.welcomearea .more {
    font-size: 14px;
    min-width: 125px;
	margin-top:10px;
}

.newarrivals-area h3, .homebottom h4 {
    font-size: 23px;
    max-width: 160px;
    margin-bottom:15px;
}	
.newarrivals-area h3:before {
    width: 50px;
    right: -35px;
    top: 13px;
}
	.newshome, .testimonialshome {
    padding: 26px 10px 30px 10px;
    min-height: 0;
    border: none;
}
.newsdate span {
    width: 40px;
    height: 40px;
    padding: 11px;
    font-size: 16px;
}
.newsdate {
    font-size: 17px;
    padding: 7px 0 7px 53px;
    
}
.newsslide #nav-controls {
    bottom: 20px;
    left: 20px;
}
.testimonialshome .testitext{ background-size:25px; padding: 10px 10px 10px 30px;}
.testiname span{ font-size:17px;}
.homebottom h4 {
    font-size: 20px;
    margin-bottom: 25px;
}
	.footerlink li { width:100%;}
	.footermain h5{ font-size:14px;}
}

@media screen and (max-width: 380px) {
.logo {
    width: 160px;
    height: 35px;
	margin-top:8px;
}
.navbar-toggle{ margin-top:17px;}
.welcomearea h1, .welcomearea h1 span {
    font-size: 27px;
}
.welcomelogo {
    width: 100px;
    margin-bottom: 5px;
}
.welcomearea .more {
    font-size: 12px;
    padding: 8px 0;
    margin-top: 10px;
}
}


/*GALLARY*/
.gallary .fa.fa-plus {
    height: 30px;
    width: 30px;
    border: 1px solid #FCAC45;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    color: #FCAC45;
}

.gallary ul {
    padding: 10px 0;
}

.gallary ul li {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

.gallary ol li {
    display: block;
    /*margin-left: 20px;*/
    padding: 10px 0px;
}

/*.gallary ol li:after {
    content: ' | ';
    margin-left: 20px;
}*/

.gallary ol li:last-child:after {
    content: '';
}

.gallary ol li a {
    color: #222222;
}

.gallary ol li a.active {
    font-weight: 700;
}

.gallary .gallary-item {
    margin-bottom: 20px !important;
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.gallary .gallary-item .hover-bg {
    overflow: hidden;
    position: relative;
}

/*.gallary .hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.66);
    padding: 25% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}*/

/*.gallary .hover-bg .hover-text>h4 {*/
    /*opacity: 0;*/
/*    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
}*/

.gallary .hover-bg:hover .hover-text>h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.gallary .hover-bg .hover-text>i {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
}

.gallary .hover-bg:hover .hover-text>i {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.isotope-item { 
    z-index: 2;
}

.isotope-hidden.isotope-item { 
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
    margin-top: 20px;
}

.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

@media (max-width: 767px) {
    .isotope {
        height: auto !important;
    }
    .isotope-item {
        text-align: center;
        transform: none !important;
        position: relative !important;
    }
}
.errorborder {
    border-color: #ED1C24 !important;
    color: #ED1C24;
}
.hover-text{
    padding: 15px;
}
.hover-text>h4,
.gallary .hover-bg:hover .hover-text>h4{
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
}
.gallary-item small{
         display: block;
}
.gallary-item span {
    font-size: 15px;
    padding-left: 80px;
    font-weight: 700;
}
.gallery h3{
    margin: 0;
    padding-top: 8px;
    padding-bottom: 15px;
    text-align: center;
}
.searchcover {
    padding: 42px;
}
.isotope-hidden{
   display: none;
}
.col-sm-9.overlap_prd {
	padding-top: 33px;
}
.col-sm-6.col-md-3.searchinner {
    padding: 10px 11px;
}
.arabtext {
    text-align: right;
}
label.arabtext {
    text-align: right;
    display: block;
}
.inner_page_wrapper.arabic p{
    text-align: right;
}
.cnt_creersarab span {
    padding: 12px 0px 0px 22px;
    /* align-items: flex-start; */
     text-align: right;
    margin-left: 0px;
    display: block;
}
    .news_arb {

    padding-right: 80%;
}

.containerforfutures {
    padding-top: 18px;
}
.pmd-z-depth{
    box-shadow: 0px 0px 17px 2px #ccc;
}

/************* Arabic Version Stylesheet  **************/


.arb{
	text-align: right !important;
   
}
.arb img{
     -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.arb>ul>li{
    float: right;
}
.productdtlsright .arb h4, .careerbottom .arb h4, .careerforms .arb h4{
    background: url(../img/dotline.png) right bottom no-repeat;
}
.careerbottom .arb li{
    background: url(../img/careerarrow.jpg) right 7px no-repeat;
    padding-right: 28px;
}
.arb .social{
    float: right;
}
.arb h4{
    background: url(../img/dotline.png) right bottom no-repeat !important;
}
.arb .innertitle{
    right: 115px;
}
.arb_new{
   float:right;
}
.arb_new h3{
   float:right;
}
.arb_new h3:before{
   right: 145px;
}
.arb p{
    display: block;
}
.whitearea.news.arabi {
    direction: rtl;
}

/************* Arabic Version Stylesheet End **************/

